.hero_container {
  background-image: url('../../assets/kitchenheromain.webp');
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.hero {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 14rem;
  z-index: 2;
  position: relative;
  color: #fff;
}
.hero h1 {
  font-size: max(4vw, 70px);
  text-shadow: 3px 4px 10px rgba(0, 0, 0, 1);
}
.hero h1 span {
  font-family: 'Great Vibes', cursive;
  font-weight: 600;
  font-style: normal;
  color: #ff7518;
}
.hero p {
  width: 90%;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  text-shadow: 3px 4px 10px rgba(0, 0, 0, 1);
}
.hero button {
  padding: 1.1rem 4rem;
  background: rgb(255 255 255 / 0.7);
  font-weight: bold;
  border-radius: 15px;
  border-color: #fff;
}

.hero button:hover {
  background: #ff6c0ac5;
  color: #fff;
  border-color: rgb(255 255 255/ 0.5);
  cursor: pointer;
}
